.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: auto;
  /* gap: 20px; */
  gap: 20px 17px;
  padding: 36px 0 0;
}
/*
@media screen and (min-width: 768px) {
  .gallery {
    width: calc(100% - 48px);
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
    padding: 88px 0 0;
  }
} */

@media screen and (min-width: 768px) {
  .gallery {
    /* width: calc(100% - 96px); */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    /* padding: 92px 0 0;
    gap: 14px; */
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    /* width: calc(100% - 96px); */
    /* grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);

    /* gap: 16px; */
  }
}
