.gallery__place-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 21px 31px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
