.profile__name {
  font-size: 27px;
  line-height: 1.18;
  padding-top: 25px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .profile__name {
    /**/
    /* padding-top: 0; */
    font-size: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__name {
    padding-top: 0;
    font-size: 42px;
    line-height: 1.14;
  }
}
