.profile__about-me {
  font-size: 14px;
  line-height: 1.21;
  padding-top: 14px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .profile__about-me {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__about-me {
    padding-top: 16;
    font-size: 18px;
  }
}
